[Unit]
description=OpenVPN Daemon service

[Service]
Type=forking
PIDFile=/var/run/openvpnd.pid
WorkingDirectory=/home/pi/openvpnsvc
ExecStart=/home/pi/openvpnsvc/openvpnd start
ExecStop=/home/pi/openvpnsvc/openvpnd stop
ExecReload=/home/pi/openvpnsvc/openvpnd restart

[Install]
WantedBy=multi-user.target

