[Unit]
description=OpenVPN Daemon service

[Service]
Type=forking
User=root
PIDFile=/var/run/openvpnd.pid
Restart=always
ExecStart=/usr/bin/openvpnd start
ExecStop=/usr/bin/openvpnd stop
ExecReload=/usr/bin/openvpnd restart

[Install]
WantedBy=multi-user.target

